footer {
  background-color: rgb(241, 238, 238);
  padding: 20px 50px;
}

h5 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

ul.list-unstyled li {
  margin-bottom: 10px;
}

ul.list-unstyled li a {
  color: #fff;
}

ul.list-unstyled li a:hover {
  color: #f8f9fa;
}

p {
  font-size: 1rem;
  margin-top: 20px;
}

@media (max-width: 767px) {
  footer {
    text-align: center;
  }

  .row {
    margin-bottom: 30px;
  }
}
